<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="style">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
  <script src="/layui/layui.js"></script>
  <script src="/jquery.min.js"></script>
  <script src="/jquery.pagination.js"></script>
  <script src="/mods/user.js"></script>
  <script th:inline="javascript" th:if="${session.profile != null}">
      layui.cache.page = '';
      layui.cache.user = {
          username: [[${session.profile.username}]]
          ,uid: [[${session.profile.id}]]
          ,avatar: [[${session.profile.avatar}]]
          ,experience: 0
          ,sex: [[${session.profile.gender}]]
      };
      layui.config({
          version: "3.0.0",
          base: '/mods/' //这里实际使用时，建议改成绝对路径
      }).extend({
          fly: 'index'
      }).use('fly');
  </script>
</head>
<body>

</body>
</body>
</html>