<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>基于 layui 的极简社区页面模版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">

    <!--全局样式-->
    <link th:include="common/static :: style" />
</head>
<body>

<!--头-->
<div th:include="common/templates :: header"></div>

<div class="layui-container fly-marginTop fly-user-main">

    <div th:replace="common/_center :: left('center')"></div>

    <div class="fly-panel fly-panel-user" pad20>
        <!--
        <div class="fly-msg" style="margin-top: 15px;">
          您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
        </div>
        -->
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li data-type="mine-jie" lay-id="index">
                    <a th:href="@{~/user/center#index}">
                        我发的帖
                    </a>
                </li>
                <li data-type="collection" data-url="/collection/find/" lay-id="collection"  class="layui-this">
                    我收藏的帖（<span th:text="${pageData.total}"></span>）
                </li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-tab-item">
                </div>
                <div class="layui-tab-item">
                    <ul class="mine-view jie-row">
                        <li th:each="data : ${pageData.records}">
                            <a class="jie-title" href="../jie/detail.html" target="_blank"  th:text="${data.title}"></a>
                            <i>收藏于23小时前</i>  </li>
                    </ul>

                    <div th:if="${#lists.isEmpty(pageData.records)}" class="fly-none">没有相关数据</div>

                    <div th:if="${not #lists.isEmpty(pageData.records)}" style="text-align: center">
                        <div th:include="common/page :: page"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--尾-->
<div th:include="common/templates :: footer"></div>
</body>
</html>